---
layout: default
title: Library - All
data:
- 
 title: How to make curtains
 url: lib-curtains.jpg
-
 title: Grandad's WW1 Medal
 url: lib-medal.jpg
-
 title: odlbirmingham.jpg
 url: lib-birmingham.jpg
-
 title: Interview with Aunty Gladys
 url: lib-audio.jpg
-
 title: Two years in the life of my mother
 url: lib-mother.jpg
-
 title: It all started when on person...
 url: lib-started.jpg
---
<header class="header cf">
        {% include header.html %}
</header>

<div class="centered">

	<header class="page-header">
		<h1 class="section-header">Archive Partner: Science Museum</h1>
	</header>

	<div class="archive-partner">
		<div class="my-logo"><img src="{{site.baseurl}}/img/logos/science-museum.png" /></div>
		<p class="my-details">The Science Museum is mauris tempus risus eu libero blandit imperdiet. Vestibulum lacinia nisl odio, quis ullamcorper ipsum tempor quis. Proin vulputate erat vitae justo auctor varius. Nam varius.</p>
		<p class="flush--bottom"><a href="http://www.sciencemuseum.org.uk/" class="">www.sciencemuseum.org.uk</a></p>
	</div><!-- .archive-partner -->

	<p>The Science Museum has 13 catalogues and, featuring 258 artefacts for you to use in your stories.</p>

	<div class="archive-partner-lists">
		<div class="grid">
			<div class="grid__item left">
				<div class="list">
					<h3 class="sub-header">Collections (13)</h3>
					<ul class="block-list">
						<li><a href="#" class="block-list__link">Animals in WW1 <small>(15 artefacts)</small></a></li>
						<li><a href="#" class="block-list__link">Pionerring Women <small>(15 artefacts)</small></a></li>
						<li><a href="#" class="block-list__link">Lumiere Brothers <small>(15 artefacts)</small></a></li>
						<li><a href="#" class="block-list__link">London Undergound <small>(15 artefacts)</small></a></li>
					</ul>
					<p><a href="#">All 13 catalogues</a></p>
				</div>				
			</div><div class="grid__item right">
				<div class="list">
					<h3 class="sub-header">Stories (8)</h3>
					<ul class="block-list">
						<li><a href="#" class="block-list__link">Animals in WW1</a></li>
						<li><a href="#" class="block-list__link">Pionerring Women</a></li>
						<li><a href="#" class="block-list__link">Lumiere Brothers</a></li>
						<li><a href="#" class="block-list__link">London Undergound</a></li>
					</ul>
					<p><a href="#">All 8 stories</a></p>
				</div>				
			</div><div class="grid__item">
				<div class="list">
					<h3 class="sub-header">Artefacts (250)</h3>
					<div class="grid library-list"><!--
					{% if page.data %}
				  		{% for item in page.data %}
							--><div class="grid__item">
								<div class="bg-gl push--bottom" data-codeblock="#librarylistitem">
									<div class="thumb-container">
										<img src="{{site.baseurl}}/img/{{item.url}}" width="100%" alt="something useful"/>
										<div class="item-type-label">video</div>						
									</div>					
									<div class="soft-half">{{item.title}}</div>
								</div>								
							</div><!--
				  		{% endfor %}
					{% endif %}			
				--></div>
					<p><a href="#">All 250 artefacts</a></p>
				</div>				
			</div>
		</div><!-- .grid -->
	</div><!-- .archive-partner-lists -->
</div>