---
layout: default
title: Home
---
<header class="header cf">
        {% include header.html %}
</header>

<section class="block-page centered">

	<header class="page-header">
		<h1 class="section-header">
			2/5 from It's Curtains For you
			<div class="float--right"><span class="icon icon-star-on"></span></div>
		</h1>
	</header>

	<div class="grid">

		<div class="block-page__left grid__item"><!-- .grid__item -->
							
			<div class="block__item">
				<a href="http://www.gayleeds.com/photo/_scale/_9f42/_232/_25816_850-600.jpg" class="fancybox" rel="group"><img src="http://www.gayleeds.com/photo/_scale/_9f42/_232/_25816_850-600.jpg" width="100%" /></a>
				{% include components/item-details.html %}
			</div>
			<p class="block__text">A bunch of queers in the seventies? Do you know any of these people?</p>					
			<div class="block__item">
				<a href="http://upload.wikimedia.org/wikipedia/commons/9/95/Big_Pine_landscape.jpg" class="fancybox" rel="group"><img src="http://upload.wikimedia.org/wikipedia/commons/9/95/Big_Pine_landscape.jpg" width="100%" /></a>
				{% include components/item-details.html %}
			</div>					
			
		</div><div class="block-page__right grid__item"><!-- .grid__item -->

			<div class="island bg-gl delta island--end">
				<p>This passage is taken from <a href="#">It's Curtain's For You!</a> by <a href="#">Dean Vipond</a></p>
				<div class="block-page__stats">
					<div class="stat"><span class="text--circle large">4</span><br/>story links</div><!--
				 --><div class="stat"><span class="text--circle large">12</span><br />notes</div><!--
				 --><div class="stat"><span class="text--circle large">3</span><br />places</div><!--
				 --><div class="stat"><span class="text--circle large">2</span><br />times</div>				
				</div>
			</div>

			<div class="island bg-gl">
				<p class="delta push-half--bottom">Appears in <strong class="text--circle">4</strong> other stories:</p>
				<ul class="block-list block-list--sans">
					<li><a class="block-list__link" href="#">The Pelmet Conspiracy</a></li>
					<li><a class="block-list__link" href="#">My life as a Mermaid</a></li>
					<li><a class="block-list__link" href="#">The legacy of Manchester Linen</a></li>
					<li><a class="block-list__link" href="#">Once upon a time in Leeds</a></li>
				</ul>
				<a href="#" class="link"><span class="icon icon-plus icon--circle"></span> Link to passage</a>
			</div>

			<div class="island bg-gl">
				<p class="delta"><strong class="text--circle">9999</strong> notes:</p>
				<div class="block__notes">
					<div class="note">
						<p><span class="note__author">Tim McInnery</span> 2 hours ago</p>
						<p class="note__content">This is my comment Mauris tempus risus eu libero blandit imperdiet. Vestibulum lacinia nisl odio, quis ullamcorper ipsum tempor quis. Proin vulputate erat vitae justo auctor varius. Nam varius.</p>
					</div>
					<div class="note">
						<p><span class="note__author">Tim McInnery</span> 2 hours ago</p>
						<p class="note__content">This is my comment Mauris tempus risus eu libero blandit imperdiet. Vestibulum lacinia nisl odio, quis ullamcorper ipsum tempor quis. Proin vulputate erat vitae justo auctor varius. Nam varius.</p>
					</div>
					<div class="note">
						<p><span class="note__author">Tim McInnery</span> 2 hours ago</p>
						<p class="note__content">This is my comment Mauris tempus risus eu libero blandit imperdiet. Vestibulum lacinia nisl odio, quis ullamcorper ipsum tempor quis. Proin vulputate erat vitae justo auctor varius. Nam varius.</p>
					</div>
				</div>
				<hr class="rule"/>
				<a href="#" class="link"><span class="icon icon-plus icon--circle"></span> Add a note</a>
			</div>

			<div class="island bg-gl">
				<p class="delta"><strong class="text--circle">2</strong> places:</p>
				<p class="flush--bottom"><a herf="#" class="link">Leeds</a></p>
				<iframe width='100%' height='200px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/morganesque.l060ibd9/attribution.html?access_token=pk.eyJ1IjoibW9yZ2FuZXNxdWUiLCJhIjoiVWNRS0VpMCJ9.zjAdUCDhKebiHCiTynabQw'></iframe>
				<p><a herf="#" class="link">Hope &amp; Anchor Pub</a></p>
				<hr class="rule"/>
				<a href="#" class="link"><span class="icon icon-plus icon--circle"></span> Add a place</a>
			</div>

		</div><!-- .grid__item -->
	</div><!-- .grid -->		

</section><!-- .reading -->

<script	type="text/javascript" src="{{site.baseurl}}/js/reading.js"></script>