---
layout: default
title: Library - All
data:
- 
 title: How to make curtains
 url: lib-curtains.jpg
 type: video
-
 title: Grandad's WW1 Medal
 url: lib-medal.jpg
 type: image
-
 title: odlbirmingham.jpg
 url: lib-birmingham.jpg
 type: image
-
 title: Interview with Aunty Gladys
 url: lib-audio.jpg
 type: audio
-
 title: Two years in the life of my mother
 url: lib-mother.jpg
 type: video
-
 title: It all started when on person...
 url: lib-started.jpg
 type: image
---
<header class="header cf">
        {% include header.html %}
</header>

<div class="centered">

	<header class="page-header">
		<h1 class="section-header">Your library</h1>
	</header>

	<p class="page-desc">Use your library to store links to artefacts, stories or blocks, on Pararchive or elsewhere on the web.</p>

	<nav class="library-nav">
		<div class="tabs">
			<div class="selected tab">All items</div>
			<div class="tab"><a href="{{site.baseurl}}/library_your/">Items in your stories</a></div>
		</div>
	</nav>
	
	<div class="grid library-list"><!--
		{% if page.data %}
	  		{% for item in page.data %}
				--><div class="grid__item">
					<div class="library-list__item">
						<div class="thumb-container">
							<div class="item-type-label">{{item.type}}</div>						
							<img src="{{site.baseurl}}/img/{{item.url}}" width="100%" alt="something useful"/>
						</div>					
						<div class="my-desc">{{item.title}}</div>
						<ul class="nav actions bg-gb">
							<li><a href="#" class="link">Add to story</a></li>
							<li><a href="#" class="link">Delete</a></li>
						</ul>
					</div>
				</div><!--
	  		{% endfor %}
		{% endif %}			
	--></div>
	
</div>