---
layout: default
title: Library - All
stories: 
-
 - 
  title: How to make curtains
  url: lib-curtains.jpg
 -
  title: Grandad's WW1 Medal
  url: lib-medal.jpg
 -
  title: odlbirmingham.jpg
  url: lib-birmingham.jpg
-
 -
  title: Interview with Aunty Gladys
  url: lib-audio.jpg
 -
  title: Two years in the life of my mother
  url: lib-mother.jpg
 -
  title: It all started when on person...
  url: lib-started.jpg
---
<header class="header cf">
        {% include header.html %}
</header>

<div class="centered">

	<header class="page-header">
		<h1 class="section-header">Your library</h1>
	</header>

	<p class="page-desc">Use your library to store links to artefacts, stories or blocks, on Pararchive or elsewhere on the web.</p>

	<nav class="library-nav">
		<div class="tabs">
			<div class="tab"><a href="{{site.baseurl}}/library_all/">All items</a></div>
			<div class="selected tab">Items in your stories</a></div>
		</div>
	</nav>
	
	<div class="library-list">
		<h1 class="section-header">The Pelmet Conspiracy</h1>
		<div class="grid"><!--
	  		{% for item in page.stories[0] %}
				--><div class="grid__item">
					<div class="library-list__item">
						<a class="my-image" style="background-image:url({{site.baseurl}}/img/{{item.url}});">						
							<div class="item-type-label">video</div>						
						</a>
						<div class="my-desc">{{item.title}}</div>
						<ul class="nav actions">
							<li><a href="#" class="link">Add to story</a></li>
							<li><a href="#" class="link">Delete</a></li>
						</ul>
					</div>
				</div><!--
	  		{% endfor %}	
		--></div>
		<h1 class="section-header">Adventures In Chewing</h1>
		<div class="grid"><!--
	  		{% for item in page.stories[1] %}
				--><div class="grid__item">
					<div class="library-list__item">
						<a class="my-image" style="background-image:url({{site.baseurl}}/img/{{item.url}});">						
							<div class="item-type-label">video</div>						
						</a>
						<div class="my-desc">{{item.title}}</div>
						<ul class="nav actions">
							<li><a href="#" class="link">Add to story</a></li>
							<li><a href="#" class="link">Delete</a></li>
						</ul>
					</div>
				</div><!--
	  		{% endfor %}		
		--></div>
	</div>
	
</div>