---
layout: default
title: Styleguide
---

<header class="header cf">
        {% include header.html %}
</header>

<div class="centered">

	<hr class="rule" />
	<p>A front-end style guide for the Pararchive (Yarn) project</p>
	
	<!-- COLOURS -->
	<div class="pattern">
		<h1 class="pattern__title">Colours</h1>
		<div class="col brand-dark">brand-dark<br />#217D7C</div>
		<div class="col brand-primary">brand-primary<br />#26b9b9</div>
		<div class="col brand-secondary">brand-secondary<br />#5e6375</div>
		<div class="col brand-tertiary">brand-tertiary<br />#a61520</div>
		<div class="col grey">grey<br />#626F72</div>
		<div class="col grey-blue">grey-blue<br />#EDEEF2</div>
		<div class="col grey-light">grey-light<br />#DDDFE7</div>
	</div>

	<!-- FONTS -->
	<div class="pattern">
		<h1 class="pattern__title">Fonts</h1>
		<div class="fontfaces code" data-codeblock="#fontfaces">
<p class="sans-face">Quicksand Normal (400), <strong>Quicksand Bold (700)</strong></p>
<p class="serif-face">Halant Light (300), <strong>Halant Normal (400)</strong></p>
<p class="third-face">Oswald (400)</p>
		</div>
		<div id="fontfaces"></div>
		<div class="pattern__notes">These are Google fonts. <a href="https://www.google.com/fonts#ReviewPlace:refine/Collection:Quicksand|Halant|Oswald" target="_blank">Other weights</a> are available etc.</div>
	</div>

	<!-- FONT SIZES -->
	<div class="pattern">
		<h1 class="pattern__title">Font Sizes</h1>
		<div class="fontsize code" data-codeblock="#fontsizes">
<span class="zeta">14px (.zeta)</span>
<span>16px (default)</span>
<span class="epsilon">18px (.epsilon)</span>
<span class="delta">20px (.delta)</span>
<span class="gamma">28px (.gamma)</span>
<span class="beta">30px (.beta)</span>
<span class="alpha">36px (.alpha)</span>
		</div>
		<div id="fontsizes"></div>
	</div>

	<!-- TYPOGRAPHY -->
	<div class="pattern">
		<h1 class="pattern__title">Typography</h1>
		<div class="typography">
			<div class="example">
<p data-codeblock="#pnorm">Normal text (16px)</p>
				<div id="pnorm"></div>
			</div>
			<div class="example">
<h1 class="section-header" data-codeblock="#sechead">Section Header</h1>
				<div id="sechead"></div>
			</div>
			<div class="example">
<h3 class="sub-header" data-codeblock="#subhead">Sub-Header</h3>
				<div id="subhead"></div>
			</div>
			<div class="example">
<h4 class="form-title" data-codeblock="#formtitle">Form title</h4>
				<div id="formtitle"></div>
			</div>
			<div class="example">
<p class="message" data-codeblock="#mess">This is a message to the user. Hello user!</p>
				<div id="mess"></div>
			</div>
		</div>
	</div>	

	<!-- LINKS & BUTTONS -->
	<div class="pattern">
		<h1 class="pattern__title">Links &amp; Buttons</h1>
		<div class="example">
<a href="#" class="link" data-codeblock="#baslnk">basic link</a>
			<div id="baslnk"></div>
		</div>
		<div class="example">
			<div class="island bg-grey">
<a href="#" class="link link--reverse" data-codeblock="#revlink">reversed link</a>
			</div>
			<div id="revlink"></div>
		</div>

		<div class="example">
			<div class="code" data-codeblock="#linkflrght">
<a href="#" class="link">basic link</a>
<a href="#" class="link float--right">link float right</a>
			</div>
			<div id="linkflrght"></div>
		</div>		
		<div class="example">
<ul class="block-list" data-codeblock="#blklist">
<li><a href="#" class="block-list__link">Block List Link</a></li>
<li><a href="#" class="block-list__link">Block List Link</a></li>
<li><a href="#" class="block-list__link">Block List Link</a></li>
<li><a href="#" class="block-list__link">Block List Link</a></li>
</ul>
			<div id="blklist"></div>
		</div>		
		<div class="example">
			<div class="code" data-codeblock="#butns">
<p><a href="#" class="button">button</a></p>
<p><a href="#" class="button medium">medium button</a></p>
<p><a href="#" class="button large">large button</a></p>
<p><input type="button" class="button" value="input button"/></p>
			</div>
			<div id="butns"></div>
		</div>
	</div>

	<!-- ICONS -->
	<div class="pattern">
		{% include styleguide/icons.html %}
	</div>

	<!-- ICONS CIRCLE -->
	<div class="pattern">
		<h1 class="pattern__title">Icons in circles?!?</h1>
		<div class="icon-example"><span class="icon icon-minus icon--circle"></span><br />icon-minus</div>
		<div class="icon-example"><span class="icon icon-plus icon--circle"></span><br />icon-plus</div>
		<div class="icon-example"><span class="icon icon-close icon--circle"></span><br />icon-close</div>
		<pre><code>&lt;span class=&quot;icon icon-minus icon--circle&quot;&gt;&lt;/span&gt;&lt;br /&gt;icon-minus
&lt;span class=&quot;icon icon-plus icon--circle&quot;&gt;&lt;/span&gt;&lt;br /&gt;icon-plus
&lt;span class=&quot;icon icon-close icon--circle&quot;&gt;&lt;/span&gt;&lt;br /&gt;icon-close</code></pre>
		<div class="pattern__notes">These icons can also be used within a circle by adding the icon--circle class.</div>
	</div>

	<!-- ICONS REVERSED -->
	<div class="pattern">
		<h1 class="pattern__title">Icons in circles reversed!?!</h1>
		<div class="island bg-grey">
			<div class="icon-example"><span class="icon icon-minus icon--circle icon--reverse"></span><br />icon-minus</div>
			<div class="icon-example"><span class="icon icon-plus icon--circle icon--reverse"></span><br />icon-plus</div>
			<div class="icon-example"><span class="icon icon-close icon--circle icon--reverse"></span><br />icon-close</div>
		</div>
		<pre><code>&lt;span class=&quot;icon icon-minus icon--circle icon--reverse&quot;&gt;&lt;/span&gt;&lt;br /&gt;icon-minus
&lt;span class=&quot;icon icon-plus icon--circle icon--reverse&quot;&gt;&lt;/span&gt;&lt;br /&gt;icon-plus
&lt;span class=&quot;icon icon-close icon--circle icon--reverse&quot;&gt;&lt;/span&gt;&lt;br /&gt;icon-close</code></pre>
		<div class="pattern__notes">If using them on a dark background you can reverse the colours.</div>
	</div>	

	<div class="pattern">
		<h1 class="pattern__title">Action links</h1>
		<div class="pattern__notes">Found at the bottom of item or blocks</div>
<ul class="nav actions" data-codeblock="#actlink">
	<li><a href="#" class="link">Add to story</a></li>
	<li><a href="#" class="link">Delete</a></li>
</ul>
		<div id="actlink"></div>
	</div>

	<h1 class="pattern-section">Reading Interface</h1>

	<div class="pattern">
		<h1 class="pattern__title">Story Header</h1>
<div class="reading" data-codeblock="#stryhd">
	<header class="story__header">
		<h1 class="story__name">lgbt*iq social history</h1>
		<p class="story__byline">by <span class="author">Trevor Bayliss</span></p>
	</header>
</div>
		<div id="stryhd"></div>
		<!-- <div class="pattern__notes"> Only works within a div with the "reading" class. </div> -->
	</div>

	<div class="pattern">
		<h1 class="pattern__title">Block Meta Data</h1>
		<div class="pattern__reading">
<div class="reading" data-codeblock="#blckmetaempty">
	<div class="block__meta">
		<ul class="nav nav--stacked">
			<li class="meta__link meta__star"><a href="#"><span class="icon icon-star-off"></span></a></li>
			<li class="meta__link meta__notes"><a href="#"><span class="icon icon-plus icon--circle"></span> add a note</a></li>
			<li class="meta__link meta__links"><a href="#"><span class="icon icon-plus icon--circle"></span> add a story link</a></li>
		</ul>	
	</div>
</div>
		</div>
		<div id="blckmetaempty"></div>
		<div class="pattern__reading">
<div class="reading" data-codeblock="#blckmetafull">
	<div class="block__meta">
		<ul class="nav nav--stacked">
			<li class="meta__link meta__star"><a href="#"><span class="icon icon-star-on"></span></a></li>
			<li class="meta__link meta__notes"><a href="#">2 notes</a></li>
			<li class="meta__link meta__links"><a href="#">3 story links</a></li>
			<li class="meta__link meta__places"><a href="#">3 places</a></li>
		</ul>	
	</div>
</div>
		</div>
		<div id="blckmetafull"></div>
		<!-- <div class="pattern__notes"> Only works within a div with the "reading" class. </div> -->
	</div>

</div><!-- .main -->

<script type="text/javascript">$(document).on("ready",function(e) {$.fn.dataCodeBlock(); });</script>