// $brand-dark:				#217D7C;
$brand-primary:         	#26b9b9;
$brand-dark:				darken($brand-primary,10%);

$brand-secondary:			#5e6375;
$brand-tertiary:			#a61520;

$grey:						#626F72;
$grey-light:				#EDEEF2;
$grey-blue:					#DDDFE7;

// $gray-darker:            	darken($brand-secondary, 10%) !default; // #222
// $gray-dark:              	darken($brand-secondary, 5%) !default;   // #333
// $gray:                   	lighten($brand-secondary, 0%) !default; // #555
// $gray-light:             	lighten($brand-secondary, 50%) !default;   // #999
// $gray-lighter:           	lighten($brand-secondary, 60%) !default; // #eee

$brand-success:         	#5cb85c;
$brand-info:            	#5bc0de;
$brand-warning:         	#f0ad4e;
$brand-danger:          	#d9534f;

// inuit.css var
$brand-color:       $brand-primary!default;

.bg-bp {
	background-color:$brand-primary;
	color:white;
}

.bg-g {
	background-color:$grey;
	color:white;
}

.bg-gb {
	background-color:$grey-blue;
}

.bg-gl {
	background-color:$grey-light;
}

.attention {
	transition:all 0.3s $easeOutQuint;
}

.text--primary {color:$brand-primary;}
.text--secondary {color:$brand-secondary;}
.text--tertiary {color:$brand-tertiary;}
.text--yell {color:yellow;}