html {height:100%}
body {height:100%}

#outer-wrap {height:100%;}

#inner-wrap {
	min-height:100%;
	overflow:hidden;
	margin-top:$bsu*2;
}

/*
	A responsive container for holding things like SVG or videos.
*/		
.container {
	display:block;
	width:$bsu;
	position:relative;
	height:0;
	padding-top:50%;
	svg {position:absolute;top:0;left:0;}
}

.centered,
.reading .reading__blocks {
	position:relative;	
	margin:0 auto;
	width:95%;
	max-width:960px;
	@include aboveOr(pem(640)) {width:84%;}
	@include aboveOr(pem(1024)) {width:76%;}
	// @include aboveOr(pem(1280)) {width:62%;}
}