body {
	@extend .serif-face;
	font-weight:300;
	color:$grey;
	line-height:1.5;
}

hr {
    &.center {
        margin: 0 auto;
    }
    &.half {
        width: 50%;
    }
    &.quart {
        width: 25%;
    }
    &.rule--white {color:white;}
    &.rule--gb {color:$grey-blue;}
    &.heavy {
    	color:$grey;
    	border-width:10px;
    }
}

a {
    text-decoration: none;
    color: $brand-primary;

	.reverse & {
    	color:rgba(white, 0.76);
    }

    &:hover,
    &:active,
    &:focus, {
    	outline:none;
        color:lighten($brand-primary,10%);
    }
}

time {
    color:$brand-primary;
    cursor:help;
    &:hover {
        color:lighten($brand-primary,10%);
    }
}

/*
	- - - - - - - - - TYPEFACES - - - - - - - - - 
*/		

.sans-face {
	font-family:$font-family-sans-serif;
	font-weight:300;
	strong {font-weight:700;}
}

.serif-face {
	font-family:$font-family-serif;
	font-weight:300;
	strong {font-weight:400;}
}

.third-face {
	font-family:$font-family-third;
	font-weight:400;
}

/*
	- - - - - - - - - HEADERS - - - - - - - - - 
*/		

.page-header {
	padding-top:$bsu/2;
	border-bottom:2px solid $grey-light;
	margin-bottom:$bsu;
}

.page-footer {
	@extend .page-header;
	border-top:2px solid $grey-light;
	margin-top:$bsu;
	margin-bottom:0;
}

.section-header {
	@extend .sans-face;	
	@extend .alpha;
	font-weight:300;
	color:$grey;
	margin-bottom:$bsu/2;		

	[class*="icon-star"] {
		position:relative;
		top:0.1em;
	}

	.reverse & {color:rgba(white, 0.96);}
}

.sub-header {
	@extend .sans-face;
	@extend .gamma;
	font-weight:700;
	border-bottom:4px solid $grey-blue;
	// text-transform:uppercase;	
	padding-bottom:$bsu/4;

	.text--circle {
		position:relative;
		top:-2px;
	}

	.reverse & {
		font-weight:400;
		color:rgba(white, 0.76);
		border-bottom:$bsu/12 solid $brand-primary;
	}
}

.form-title {
	@extend .delta;
	@extend .sans-face;
	font-weight:700;
	margin-bottom:$bsu/4;	
}

.solid-header {
    // background-color:darken($grey-blue,21%);
    background-color:$brand-secondary;
    color:white;
    @extend .sans-face;
    @extend .delta;
    position:relative;
}

/*
	- - - - - - - - - OTHERS - - - - - - - - - 
*/		

.page-desc {
    @extend .epsilon;
    color:$brand-secondary;
    max-width:38em;
}

.message {
	position:relative;
	@extend .epsilon;
	background-color:$brand-primary;
	color:white;
	padding:$bsu/2;
	padding-right:$bsu*2;
	text-shadow:0 2px 1px rgba(black,0.42);
	margin-bottom:$bsu/2;

	.close {
		position:absolute;
		color:white;
		text-shadow:none;
		top:$bsu/2;right:$bsu/2;
		transition:color 0.5s $easeOutQuint;
		&:hover {
			color:$brand-dark;
		}
	}

	&.flash-message
	{
		padding:$bsu/2 0;
		margin-bottom:0;
	}
}


.item-type-label {
	@extend .third-face;
	letter-spacing:0.1em;
	position: absolute;
	top:0;left:0;
	background-color:$brand-secondary;
	color:white;
	padding:0.25em 0.4em 0.25em 0.5em;
	font-size:$milli-size;
	text-transform:uppercase;
}

.text--circle {
	@extend .third-face;			
	color:$brand-dark;
	background-color:rgba(white,0.95);	
	$size:2em;
	min-width:$size;
	height:$size;
	padding:0 $bsu/4;
	line-height:$size*0.95;
	border-radius:$size;
	padding:$bsu/4 $bsu/2;
	box-shadow:inset 0 0 0px 1px rgba($grey,0.2);
	text-align:center;	
	font-weight:700;

	&.large {
		color:$brand-primary;
		display:inline-block;
		font-size:$bsu*2;
		margin-bottom:$bsu/4;
		$size:1.5em;
		min-width:$size;
		height:$size;
		padding:0 $bsu/4;
		line-height:$size*0.95;
		border-radius:$size;
		font-weight:300;
	}
}

.nav.actions {	
	padding:$bsu/2;
	line-height:0.8;
	clear:both;	
	margin:0;
	text-transform:uppercase;
	// padding:$bsu/3 0;
	@extend .zeta;
	li a {&:after {content:"\0020\2022";color:$grey;margin:0 0.42em}}
	li:last-child a {&:after{content:none;}}
}

.clip-text
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}