@import "mixins";
@import "vars";

@import "inuit.css/inuit";
$bsu:$base-spacing-unit;

body {
	@extend .brand-face;
	font-weight:400;
}
.serif-face {
	font-family:$font-family-serif;
}

@import "icons";
@import "layout";
@import "components/header";
@import "components/reading-nav";
@import "components/reading-blocks";



/*
$headings-font-weight:		300;

$brand-primary:         	#26b9b9;
$brand-secondary:			#4c4f62;
$brand-tertiary:			#a61520;

$gray-darker:            	darken($brand-secondary, 10%) !default; // #222
$gray-dark:              	darken($brand-secondary, 5%) !default;   // #333
$gray:                   	lighten($brand-secondary, 0%) !default; // #555
$gray-light:             	lighten($brand-secondary, 50%) !default;   // #999
$gray-lighter:           	lighten($brand-secondary, 60%) !default; // #eee

$brand-success:         	#5cb85c;
$brand-info:            	#5bc0de;
$brand-warning:         	#f0ad4e;
$brand-danger:          	#d9534f;

$grid-gutter-width:         16px !default;

@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

@import "icons";
@import "layout";
@import "components/login";
@import "components/header";
// @import "components/all-stories";
// @import "components/your-stories";
// @import "components/story-panel";
// @import "components/edit-story";
// @import "components/edit-block";
// @import "components/view-footer";
// @import "components/view-story";
// @import "components/view-block";
// @import "components/view-block-notes";
// @import "components/view-block-artefacts";

*/

@import "isuck";
.emd { // this is the end ––––––
}