@import "mixins";
@import "vars";
@import "colours";

@import "inuit.css/inuit";
$bsu:$base-spacing-unit; // shorthand.

@import "icons";
@import "layout";
@import "typography";
@import "components/header";
@import "components/buttons";
@import "components/forms";
@import "components/reading-story";
@import "components/reading-blocks";
@import "components/block-item";
@import "components/item-story";
@import "components/block-page";
@import "components/library";
@import "components/artefact";
@import "components/archive-partner";
@import "components/edit";
@import "components/edit-block";
@import "components/footer";


/*
	Stuff for the styleguide - don't really need to include this is final styles.
*/		
@import "components/styleguide";



/*
–– TAKE OUT BEFORE MOVING TO PRODUCTION CODE.

$headings-font-weight:		300;
$grid-gutter-width:         16px !default;
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "icons";
@import "layout";
@import "components/login";
@import "components/header";
// @import "components/all-stories";
// @import "components/your-stories";
// @import "components/story-panel";
// @import "components/edit-story";
// @import "components/edit-block";
// @import "components/view-footer";
// @import "components/view-story";
// @import "components/view-block";
// @import "components/view-block-notes";
// @import "components/view-block-artefacts";
*/

@import "isuck";

/*
	Stuff for fancybox.	
*/		
@import "components/fancybox";