.edit-block {

	.edit-block__what {
		height:350px;
		font-size:1.3em;
		line-height:1.2;
	}

	.edit-block__note {
		height:100px;
	}

	.grey-block {
		background-color:$gray-lighter;
		padding:0.5em;		
	}

	.details-buttons {
		margin-top:0.25em;
		padding:0.5em 0;
		border-top:1px solid rgba($brand-secondary, 0.1);		
		a {
			margin-right:0.5em;
		}
	}

	.details-form {
		margin-top:0.25em;
		.input-group-addon {
			cursor:pointer;
		}
	}
	
	.show-tags {
		padding-top:0.2em;
	}
	.tags {
		.tag {
			position:relative;
			font-size:0.8em;
			letter-spacing:0.05em;
			display:inline-block;
			background-color:$brand-secondary;
			color:white;
			border-radius:1em;
			padding:0.25em 0.75em;
			margin:0 0.2em 0.5em 0;
			transition:padding-right 0.5s $easeOutQuint;	
			line-height:1.5;
			.icon {
				position:relative;
				&.icon-calendar, &.icon-map {top:1px}
				&.icon-user {top:0px}
			}
			&:hover {
				padding-right:1.7em;
				&:after {
					content:"x";
					position:absolute;
					top:2px;
					right:10px;
					color:$brand-primary;
				}
			}
		}
	}

	.row--submit {
		border-top:1px solid rgba($brand-primary,0.5);
		padding-top:0.5em;
	}
}

.artefact-button {
	padding:0.5em 0;
	border-top:1px solid rgba($brand-secondary, 0.1);		
}

.example {
	@include font-size(1.4);
	color:rgba(black,0.42);
}

.add-artefact {
	position:absolute;
	top:0;bottom:0;left:0;right:0;
	background-color:rgba(white,0.8);	
	align-items: center;
	justify-content: center;
	display:none;

	&.show {display:flex;}	
}

.add-artefact__input {
	width:76%;
	margin:3em auto 0;
	background:white;
	outline:1em solid rgba($brand-secondary,0.42);
	padding:2em;
}

.display {
	position:relative;
	display:inline-block;
	width:100%;
	height:0;
	padding-top:50%;
	margin-bottom:1em;	
	border: 1px solid #ccc;	

	.show-artefacts & {		
		width:48%;
		height:0;
		padding:48% 0 0;
		margin:0 2% 0 0;
		background-color:rgba(white,0.9);
	}
	span.icon-spinner {
		$size:100px;
		position:absolute;
		top:50%;
		left:50%;
		font-size:$size;
		margin-left:-$size/2;
		margin-top:-$size/2;
		opacity:0.42;
	}

	a,div {	
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		width:100%;
		height:100%;
		position:absolute;
		top:0;left:0;
	}
}

#delete-block {
	// margin-top:3em;
	text-align:right;
}

.embed-container { 
	position: relative;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	iframe,object,embed 
	{
		position:absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
 } 