.story-panel {

	.row {
		border-bottom:1px solid rgba(black,0.1);
	}

	&__name {
		color:$brand-secondary;
		margin:0.25em 0;		
		font-size:2em;
		.content {font-weight:700;}
		.author {font-weight:300;}		
	}

	&__blocks {	
		padding-top:0.75em;	
		padding-left:0;
		padding-bottom:0.75em;
		list-style:none;
		margin:0;
	}

	&__btns {
		@extend .pull-right;
		margin-top:1.25em;
		a {
			margin-left:1em;
		}
		&--top {
			margin-top:0.85em;
		}
	}

	.block-edit-buttons, .story-edit-buttons {
		@extend .pull-right;
	}
	
	.preview {
		display:inline-block;
		margin:0 0 0 0.5em;
		line-height:1;
		position:relative;
		top:2px;
		&:after {
			content:':';
		}
	}

	.story {
		font-family:$font-family-serif;
		padding-top:0.75em;
		white-space:nowrap;
	}	

	.block {

		$blockh:50px;

		position:relative;
		display:inline-block;
		width:$blockh;
		height:$blockh;

		text-align:center;
		line-height:$blockh - 6px;

		background-color:white;
		border:2px solid $brand-primary;

		@include rem("font-size",3);
		@include rem("margin-right",2);

		transition:all 0.5s $easeOutQuint;

		user-select:none;
		user-drag:element;
		cursor:move;

		.sneek {
			position:absolute;
			top:58px; left:-5px;
			width:12em;
			z-index:1000;
			font-size:14px;
			line-height:1.2;
			padding:0.5em;
			background:$brand-secondary;
			color:white;
			text-align:left;
			opacity:0;
			display:block;
			pointer-events:none;
			transition:opacity 1s 0s $easeOutQuint;
			&:before {
			   content:"";
			   position: absolute;
			   top: 2-$blockh/3;
			   left: $blockh/4;
			   width: 0;
			   height: 0;
			   border-left: $blockh/4 solid transparent;
			   border-bottom: $blockh/3 solid $brand-secondary;
			   border-right: $blockh/4 solid transparent;
			}
		}

		&.hover .sneek {
			transition:opacity 1s 0.5s $easeOutQuint;
			display:block;
			opacity:1;
		}

		&--dragged {
			background-color:$brand-tertiary;
			border-color:$brand-tertiary;
			a {
				color:white;	
			}
			
		}

		&:hover {
			color:$brand-primary;
		}		

		&.current {	
			position:relative;
			color:white;
			background-color:$brand-secondary;
			border:none;
			// pointer-events:none;
			a {color:white}
			&:before {
			   content:"";
			   position: absolute;
			   top: 100%;
			   left: $blockh/4;
			   width: 0;
			   height: 0;
			   border-left: $blockh/4 solid transparent;
			   border-top: $blockh/4 solid $brand-secondary;
			   border-right: $blockh/4 solid transparent;
			}

			.state-saved-block & {
				background-color:$brand-success;
				&:before {
					display:none;					
				}
			}
		}
	}
}

