<h1 class="pattern__title">Icons</h1>
		<div class="icon-example"><span class="icon icon-home"></span><br />icon-home</div>
		<div class="icon-example"><span class="icon icon-image"></span><br />icon-image</div>
		<div class="icon-example"><span class="icon icon-headphones"></span><br />icon-headphones</div>
		<div class="icon-example"><span class="icon icon-play"></span><br />icon-play</div>
		<div class="icon-example"><span class="icon icon-library"></span><br />icon-library</div>
		<div class="icon-example"><span class="icon icon-tags"></span><br />icon-tags</div>
		<div class="icon-example"><span class="icon icon-map"></span><br />icon-map</div>
		<div class="icon-example"><span class="icon icon-calendar"></span><br />icon-calendar</div>
		<div class="icon-example"><span class="icon icon-bubble"></span><br />icon-bubble</div>
		<div class="icon-example"><span class="icon icon-user"></span><br />icon-user</div>
		<div class="icon-example"><span class="icon icon-spinner"></span><br />icon-spinner</div>
		<div class="icon-example"><span class="icon icon-remove"></span><br />icon-remove</div>
		<div class="icon-example"><span class="icon icon-menu"></span><br />icon-menu</div>
		<div class="icon-example"><span class="icon icon-star-off"></span><br />icon-star-off</div>
		<div class="icon-example"><span class="icon icon-star-on"></span><br />icon-star-on</div>
		<div class="icon-example"><span class="icon icon-close"></span><br />icon-close</div>
		<div class="icon-example"><span class="icon icon-checkmark"></span><br />icon-checkmark</div>
		<div class="icon-example"><span class="icon icon-minus"></span><br />icon-minus</div>
		<div class="icon-example"><span class="icon icon-plus"></span><br />icon-plus</div>
		<div class="icon-example"><span class="icon icon-arrow-up"></span><br />icon-arrow-up</div>
		<div class="icon-example"><span class="icon icon-arrow-right"></span><br />icon-arrow-right</div>
		<div class="icon-example"><span class="icon icon-arrow-down"></span><br />icon-arrow-down</div>
		<div class="icon-example"><span class="icon icon-arrow-left"></span><br />icon-arrow-left</div>
		<div class="icon-example"><span class="icon icon-quotes-left"></span><br />icon-arrow-left</div>
		<div class="icon-example"><span class="icon icon-quotes-right"></span><br />icon-arrow-left</div>
		<pre><code>&lt;span class=&quot;icon icon-home&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-image&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-headphones&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-play&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-library&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-tags&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-map&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-calendar&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-bubble&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-user&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-spinner&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-remove&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-menu&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-star&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-close&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-checkmark&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-minus&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-plus&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-arrow-up&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-arrow-right&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-arrow-down&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;icon icon-arrow-left&quot;&gt;&lt;/span&gt;</code></pre>		
		<div class="pattern__notes">These icons are all taken from the <a href="https://icomoon.io/#preview-free">icomoon free set</a>. Some are probably not used in the service any longer.</div>