.page-header--buttons {
    margin-top:$bsu/2;
}

.link {
    @extend .sans-face;
    font-size:16px;
    font-weight:700;
    color:$brand-dark;

    &.link--reverse {
        color:white;
        &:hover {
            color:$brand-primary;
        }
    }    
}

.button {
    position:relative;
    @extend .sans-face;
    font-weight: 400;
    line-height: 1em;
    height: 2em;
    padding: $bsu/4 $bsu;
    transition: background-color .5s $easeOutQuint;
    text-transform: uppercase;
    color: white;
    border-radius: 1em;
    background-color: $brand-primary;
    border:none;
    white-space:nowrap;
    @extend .zeta;

    &.medium {
        @extend .delta;
        padding:$bsu/3 $bsu*(3/2);
    }

    &.large {
        @extend .gamma;
        line-height:1.2;
        padding:$bsu/3 $bsu;
        background-color: lighten($brand-primary,4%);
    }

    &:hover {
        top:-1px;
        background-color: $brand-dark;
        box-shadow: 0 1px 1px rgba(black,.22);
    }
    &:active,
    &:focus { 
        top:1px;
        color:rgba(white,1);
        background-color: $brand-dark;
        text-shadow:0 0 5px rgba(white,0.2);
        box-shadow:none;
    }

    &.button--reverse {
        color:$brand-dark;
        background-color:rgba(white,0.90);
        &:hover {
            color:$brand-primary;
            background-color:darken($brand-dark,10%);
        }
    }
}

.action {
    text-transform:uppercase;
    @extend .sans-face;
    font-weight:700;
    color:$brand-primary;
}