.block-extras {

	.grid__item {
		@include aboveOr(pem(530))
		{
			width:100% * 1/2;	
			&.grid__notes {width:100%;}
		}
		@include aboveOr(pem(800))
		{
			width:100% * 1/3;	
			&.grid__notes {width:100% * 1/3}
		}
		
	}
}

.edit-block__item,
.edit-block__sort {

	margin-top:$bsu/2;
	margin-bottom:$bsu;
	&:last-child {margin-bottom:0;}
	border-bottom:1px solid rgba($grey,0.42);

	.media__img {
		width:76px;
		height:76px;
		margin-right:$bsu/2;
		margin-bottom:$bsu/2;
		background-size:contain;
		background-repeat:no-repeat;
		background-position:center center;
		background-color:rgba(white,0.42);
		&.media__link {background-size:90% 90%;background-color:transparent}
	}

	.media__body {

		.label {
			font-size:$milli-size;
			text-transform:uppercase;
			@extend .third-face;
			font-weight:700;
			margin-bottom:$bsu/6;
		}
		.content {
			@extend .milli;		
			line-height:1.5;	
		}
	}

	.actions {
		padding:$bsu/4 0;
	}
}

.edit-block__sort {
	border-bottom:none;
	background:rgba(white,0.76);
	padding:$bsu/4;
	border-radius:$bsu/4;
	margin-bottom:$bsu/2;
	cursor:move;
	animation: wobble 0.3s infinite ease-out;
	box-shadow: 5px 5px 10px rgba(black,0.21);
	* {pointer-events:none}
	&.ghost {
		animation:none;
		box-shadow:none;
		background:$grey-blue;
		& > * {opacity:0}
	}
}