.more-stories {	

	.grid__item {
		width:100% * 1/3;
	}

	.more-stories__item {
		display:block;
		background-color:$brand-dark;
		min-height:300px;

		&:hover {
			.thumb-container img {
				transform:scale(1) translateX(0);
			}
			color:lighten($brand-primary,10%);
		}
	}

	.thumb-container {
		position:relative;
		width:100%;
		height:0;
		padding-top:62%;
		overflow:hidden;

		img {
			position:absolute;
			top:0;left:0;
			transform:scale(1.1);
			transition:transform 0.5s $easeOutQuint;
		}
	}
}

.site-footer {
	.grid__item.-left { width:100% * 1/3 }
	.grid__item.-right { width:100% * 2/3 }
}
.links-list {
	list-style:none;
    margin-left:0;
    @extend .cf;
}