.form-fields {

	input,
	textarea {
		@extend .delta;
		padding:$bsu/4;
		width:100%;
		border:1px solid rgba($grey-blue,1);
		background-color:rgba($grey-blue,0.22);
		&:focus {
			outline:none;
			background-color:white;

		}		
	}

	input[type="submit"],
	input[type="button"] {
		@extend .zeta;
		@extend .button;
		width:auto;	

	}

	textarea {
		height:$bsu*10;
	}
}