.header {
	@extend .zeta;
	@extend .sans-face;
	font-weight:300;
	position:fixed;
	top:0;left:0;
	width:100%;
	z-index:999;
	
	background-color:$brand-secondary;
	color:white;
	height:$bsu*2;
}

.header__logo {
	display:block;
	float:left;
	line-height:$bsu*2;	
	font-size:$bsu;
	color:white;
	transition:color 0.5s $easeOutQuint;

	.down-loop,
	.up-loop,
	.tile {
		transition:fill 0.75s $easeOutQuint;
	}

	&:hover {
		text-decoration:none;
		color:$brand-primary;

		.down-loop,
		.up-loop {fill:white;}
		.tile {fill:$brand-primary;}
	}
}

.header__title {
	display:inline-block;
}

.logo-icon {
	display:inline-block;
	float:left;
	margin:4px $bsu/4 0 0;
	width:35px; height:50px;
}

.header__identity {

	float:right;
	margin-top:$bsu/2;
	font-weight:400;
	// margin-right:$bsu;	

	.username {opacity:0.5;}	

    & > li {

        display:list-item;
        height:$bsu*2;
        background:$brand-secondary;
        padding:0 $bsu;
        border:none;
        a {
			color:white;
			text-decoration:none;
			&:hover,
			&:active,
			&:focus, {text-decoration:underline;}
		}
    }

    .menu {
    	text-align:right;
    	background:transparent;
    	padding-right:$bsu/2;
    	a:hover {
    		text-decoration:none;
    	}
    }

    &.show .menu {
    	background:$brand-secondary;
    }

    .drop {display:none;}
    
    &.show .drop {
    	display:list-item;
    }

    @include aboveOr(pem(768))
    {
    	.menu {display:none;}
    	.drop {
    		display:inline-block;
    		height:auto;
    		background:transparent;
    	}
    	li {
			padding:0 $bsu/2;
			border-right:1px solid rgba(white,0.2);
			&:last-child {border:none;padding-right:0}
		}
    }

}