.item-story {
	background-color:$grey-light;
	padding-top:1px;
	margin-bottom:$bsu;
	@extend .cf;
}

.item-story__content {
	position:relative;
	margin:$bsu;
	line-height:1.4;
	@extend .epsilon;
	font-style:italic;
	.icon {
		position:relative;top:2px;
	}
}

.item-story__thumb {
	display:block;
	float:left;
	width:100px;height:100px;
	margin-left:$bsu;
	margin-bottom:$bsu;
	background-size:cover;
}

.item-story__details {
	clear:both;
	@extend .epsilon;
	background-color:$grey-blue;
	padding:$bsu/2 $bsu;
	a {
		font-weight:400;
	}
}