.library-nav {

	border-bottom:2px solid $grey-light;
	margin-bottom:$bsu;

	.tabs {
		margin:0 auto;
		text-align:center;

		.tab {
			display:inline-block;	
			position:relative;
			top:2px;		
			width:250px;
			padding:$bsu/4;
			font-weight:700;
			@extend .epsilon;
			color:$brand-dark;	
			
			a {
				color:inherit;
				text-decoration:none;	
			}
			
			&.selected {
				color:$brand-secondary;
				background-color:white;
				border:2px solid $grey-light;
				border-width:2px 2px 0 2px;					
			}
		}
	}
}

.library-list {
	.grid__item {
		@include aboveOr(pem(640))  {width: 1/2 * 100%;}
		@include aboveOr(pem(960))  {width: 1/3 * 100%;}
		// @include aboveOr(pem(1280)) {width: 1/4 * 100%;}
	}
}