/*
	Only within reading pages.
*/		
$block_media_width: 70%;
$block_meta_width: 100% - $block_media_width;
$block_min:$bsu*12;

.reading {

	.block {
		clear:both;
		position:relative;
		// border-top:$bsu/4 solid red;
		padding:$bsu*2 0 0;
	}

	.block__numberer {
		display:block;
		position:relative;
		width:100%;
		height:$bsu/4;
		background-color:$grey-blue;
		margin:$bsu 0 $bsu*2;
		.number {
			$w:100px;
			width:$w;
			text-align:center;
			position:absolute;
			top:-$bsu/4;left:50%;
			margin-left:-$w/2;
			background:white;
			@extend .delta;
		}
	}


	.block__body { // .grid
		vertical-align:top;
		min-height:$block_min;
	}

	.block__content { // .grid__item
		@include aboveOr(pem(640))
		{
			width:$block_media_width;	
		}		
		z-index:0;
	}

	.block__meta {
		
		@include aboveOr(pem(640))
		{
			width:$block_meta_width;	
		}

		z-index:1;
		@extend .epsilon;			

		.nav {
			margin-bottom:0;

			li {
				padding:$bsu/2 0;
				border-bottom:1px solid rgba(black,0.2);
				// &:first-child {border:none;}
				&:last-child {border:none;margin-bottom:0}
			}
		} 
	}

	.meta__container {

		position:absolute;
		top:0;right:100%;
		width:100% * $block_media_width / $block_meta_width;
		padding-left:$bsu;
		overflow:hidden;
		min-height:$block_min;
		opacity:0;
		transition:opacity 0.5s $easeOutQuint;
		pointer-events:none;

		&.notes {
			pointer-events:auto;
			opacity:1;
			.block__notes {transform:translate3d(0,$bsu,0);}
			.block__noteactions {transform:translate3d(0,0,0);}			
		}
		&.links {
			pointer-events:auto;
			opacity:1;
			.block__links {transform:translate3d(0,$bsu,0);}
		}
	}

	.meta__link {

		@extend .sans-face;

		a {
			display:block;				
			font-weight:700;
			text-decoration:none;
			transition:color 0.5s $easeOutQuint;

			.icon--circle {				
				transition:background-color 1s $easeOutQuint;
			}
			&:hover {
				.icon--circle {
					color:$brand-primary;
					background:white;
				}
			}
		}
	}

	.meta__progress {color:rgba($brand-secondary,0.76);}

	.meta__star {
		font-size:24px;		
	}	

	.block__links, .block__notes {		
		position:absolute;
		top:0;left:0;
		padding:$bsu;
		width:100%;
		background-color:$grey-light;
		transition:transform 0.5s $easeOutExpo;	
		transform:translate3d(104%,$bsu,0);	
	}

	.new-note {
		width:100%;
		height:6em;
		margin-bottom:$bsu;
	}		

	.close {
		position:absolute;
		top:$bsu;right:$bsu;
		color:$brand-dark;
		&:hover {
			color:$brand-primary;
		}

	}

	.block__noteactions {			
		z-index:1;
		position:absolute;
		left:0;bottom:0;right:0;
		background-color:$grey;
		padding:$bsu/2 $bsu;
		transition:transform 0.5s $easeOutExpo;	
		transform:translate3d(104%,$bsu*3,0);

		.fader {
			position:absolute;
			top:0;left:0;
			transform:translateY(-100%);
			width:100%;
			height:$bsu*4;
			background:linear-gradient(rgba($grey-light,0),rgba($grey-light,1) 90%),
		}			
	}

	.form-title {
		@extend .delta;
		@extend .sans-face;
		font-weight:700;
		color:$grey;
		margin-bottom:$bsu/2;
	}
}

.block__notes {
	.note {
		@extend .zeta;
		@extend .serif-face;
		color:$grey;
		margin-bottom:$bsu/2;

		p {
			margin-bottom:0;		
		}

		.note__author {
			color:$brand-dark;
			font-weight:bold;
		}

		.note__content {
			line-height:1.2;
		}
	}
}