/*
	Only within reading pages.
*/		
.reading {

	.story__header {	
		position:relative;
		background: 
			linear-gradient(rgba($brand-primary,0.95),rgba($brand-primary,0.8)),
			url('../img/reading-back.jpg');		
		background-position:center center;
		background-size:cover;
		padding:$bsu 0 $bsu*2;
		margin-bottom:$bsu;

		a {color:$brand-primary;text-decoration:none}		
	}	

	.story__name {
		@extend .serif-face;
		font-size:3.5em;
		font-weight:300;
		color:white;
		margin:0 auto 0.25em;
	}

	.story__byline {
		@extend .sans-face;
		color:black;
		font-size:2em;
	}

	.story__description {
		@extend .gamma;
		@extend .serif-face;
		color:$grey;
		margin-bottom:$bsu*2;
		line-height:1.4
	}

	.story__footer {

		padding-top:$bsu;
		background-color:$grey;
		// .block-border {border-top:$bsu/4 solid $grey-blue; padding-top:$bsu/2;}

		.section-header {
			margin-bottom:$bsu
		}

		.grid__item {
			@include aboveOr(pem(640))
			{
				width:20%;
				&.bigger {width:40%;}
			}
		}
	}

}
