// set up the size of the left side (containing the artefacts/items).
// ---------------------
$block_media_width: 70%;
$block_meta_width: 100% - $block_media_width;
$block_min:$bsu*12; // 336
$breakpoint:800;

.reading {

	// breakpoint for going "mobile" (single col)


	// basic div for each block mainly just a semantic nicety.
	.block {
		clear:both;
		position:relative;
		padding:$bsu*2 0 0;
	}

	// separating line between blocks with centered number in middle.
	.block__numberer {
		display:block;
		position:relative;
		width:100%;
		height:$bsu/4;
		background-color:$grey-blue;
		margin:$bsu 0 $bsu*2;
		.number {
			$w:100px;
			width:$w;
			text-align:center;
			position:absolute;
			top:-$bsu/4;left:50%;
			margin-left:-$w/2;
			background:white;
			@extend .delta;
		}
	}

	// .grid 
	.block__body { 
		vertical-align:top;
		@include aboveOr(pem($breakpoint))
		{
			min-height:$block_min;	
		}		
	}

	// .grid__item - left side containing all the items and shit.
	.block__content { 
		@include aboveOr(pem($breakpoint))
		{
			width:$block_media_width;	
			// min-height:$block_min;
		}		
		z-index:0;
	}

	// .grid__item - right side (above mobile) containing the meta data.
	.block__meta {
		
		@include aboveOr(pem($breakpoint))
		{
			width:$block_meta_width;	
		}

		z-index:1;
		@extend .epsilon;			

		.nav {
			margin-bottom:0;

			.meta__link {
				padding:$bsu/2 0;
				border-bottom:1px solid rgba(black,0.2);
				// &:first-child {border:none;}
				&:last-child {border:none;margin-bottom:0}
			}
		} 
	}

	.block__meta--mobile {
	
		@extend .cf;
		@extend .block__meta;

		display:block;
		padding:0 $bsu/2;
		border:1px solid $grey-blue;
		border-radius:0 $bsu $bsu 0;			

		.nav .meta__link {
			border:none;
			font-weight:700;
		}

		.icon--reverse {background:transparent}

		&:hover,
		&:active {
			background-color:$brand-primary;
			
			.icon--reverse {color:white}
			.meta__link {color:white;}
		}

		@include aboveOr(pem($breakpoint))
		{
			display:none;
		}
	}

	.new-note {
		width:100%;
		height:6em;
		margin-bottom:$bsu;
	}		

	.form-title {
		@extend .delta;
		@extend .sans-face;
		font-weight:700;
		color:$grey;
		margin-bottom:$bsu/2;
	}
}

// included here so that the variable follow through.
@import "components/reading-blocks-meta";