.view-block__artefacts {    	    	    	

    .display {
        $wid:(100%/3)-2%;
        width:$wid;
        height:0;
        padding:($wid) 0 0;
        margin:0 2% 0 0;
        // background-color:rgba(white,0.42);
    }

	.show-all {    		
		position:absolute;
		top:0;bottom:0;left:0;right:0;
		background-color:$gray-lighter;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		display:none;
	}

    .btn-close {
        position:absolute;
        top:5px;right:5px;
        width:30px;height:30px;
        border-radius:15px;
        background-color:white;
        line-height:30px;
        text-align:center;
        padding-top:1px;
        display:block;
        cursor:pointer;             
        &:hover {
            text-decoration:none;
            color:white;
            background-color:$brand-primary;
        }
    }
}
