<footer class="site-footer">
	<div class="centered">
		<hr class="rule" />
		<div class="grid">
			<div class="grid__item -left">
				<ul class="links-list">
					<li><a href="#">Help/FAQ</a></li>
					<li><a href="#">Information for archive partners</a></li>
					<li><a href="#">Ts &amp; Cs</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
			</div><div class="grid__item -right">
				<ul class="links-list">
					<li><a href="#">Contact</a></li>
					<li><a href="#">Follow Yarn on Twitter</a></li>
					<li>Yarn is an output of the <a href="#">Pararchive project</a></li>
					<li>Designed and built by <a href="#">CARBON Imagineering</a></li>
				</ul>
			</div>
		</div>
		<hr class="rule" />
		<p>&copy; 2015 Leeds University</p>
	</div>
</footer>

</div><!-- #outer-wrap -->
</div><!-- #inner-wrap -->

{% comment %}
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>    
{% endcomment %}
<script type="text/javascript">var devURL="pararchive.flats";$(window).on("load",function(){window.location.hostname==devURL&&($.getScript("//localhost:3000/socket.io/socket.io.js"),$.getScript("//localhost:3001/client/browser-sync-client.0.9.1.js"))});</script>
</body>
</html>