<div class="centered">

	<a href="/flats/" class="header__logo">
		<div class="logo-icon">{% include img/yarn-logo-icon.svg %}</div>
		Yarn
	</a>

	<ul class="header__identity nav">	
		<li class="menu"><a href="#"><span class="icon icon-menu"></span>&nbsp;Menu</a></li>
		<li class="drop"><span class="username">{% if page.username %} {{ page.username }} {% else %} Dean Vipond {% endif %}</span></li>	
		<li class="drop"><a class="my-stories" href="#">My stories</a></li>
		<li class="drop"><a class="library" href="#">Library</a></li>
		<li class="drop"><a class="logout" href="#">Sign out</a></li>		
	</ul>
	
</div>

<script type="text/javascript">
	$(document).on("ready",function(e)
	{
		$('.header__identity .menu').on("click",function(e)
		{
			e.preventDefault();
			$(this).closest('.header__identity').toggleClass('show');
		});
	});
</script>	