<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico?v2">
    <link rel="icon" href="{{site.baseurl}}/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed apple-touch-icon" href="{{site.baseurl}}/apple-touch-icon-precomposed.png">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Halant:300,400|Quicksand:400,700' rel='stylesheet' type='text/css'>

    <!-- let modernizr do it's thing (OPTIMIZE THIS LATER!) -->
    <script src="{{site.baseurl}}/js/modernizr.js"></script>

    <!-- load all the libraries -->
    <script type="text/javascript" src="{{site.baseurl}}/js/all.min.js"></script>
    
</head>
<body class="colours-body">

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id="outer-wrap">
<div id="inner-wrap" class="">
