<div class="block__noteactions">
	<a href="#" class="button push--right">add a note</a>
	<a href="#" class="link">view all</a> | 
	<div class="fader"></div>
</div>
<div class="block__notes">
	<a href="#" class="close"><span class="icon icon-close"></span></a>
	<h3 class="form-title">5 notes</h3>
	<div class="note">
		<p><span class="note__author">Tim McInnery</span> 2 hours ago</p>
		<p class="note__content">This is my comment Mauris tempus risus eu libero blandit imperdiet. Vestibulum lacinia nisl odio, quis ullamcorper ipsum tempor quis. Proin vulputate erat vitae justo auctor varius. Nam varius.</p>
	</div>
	<div class="note">
		<p><span class="note__author">Tim McInnery</span> 2 hours ago</p>
		<p class="note__content">This is my comment Mauris tempus risus eu libero blandit imperdiet. Vestibulum lacinia nisl odio, quis ullamcorper ipsum tempor quis. Proin vulputate erat vitae justo auctor varius. Nam varius.</p>
	</div>
	<div class="note">
		<p><span class="note__author">Tim McInnery</span> 2 hours ago</p>
		<p class="note__content">This is my comment Mauris tempus risus eu libero blandit imperdiet. Vestibulum lacinia nisl odio, quis ullamcorper ipsum tempor quis. Proin vulputate erat vitae justo auctor varius. Nam varius.</p>
	</div>
</div>