<div class="item__details soft-half">
	<p class="push-half--bottom"><a href="#" class="link show-link"><span class="icon icon-arrow-down icon--circle"></span> Item details&hellip;</a></p>
	<p class="item__description push-half--bottom">I have found memories of the queer scene back in the 1970s Mauris tempus risus eu libero blandit imperdiet. Vestibulum lacinia nisl odio, quis ullamcorper ipsum tempor quis. Proin vulputate erat vitae justo auctor varius. Nam varius.</p>
	<p class="flush--bottom"><a href="/flats/artefact/" class="link">Go to this item's page</a></p>
</div>