<div class="item__details island--half">
	<p class="p--half"><a href="#" class="link show-link"><span class="icon icon-arrow-down icon--circle"></span> Item details&hellip;</a></p>
	<p class="item__description p--half">I have found memories of the queer scene back in the 1970s Mauris tempus risus eu libero blandit imperdiet. Vestibulum lacinia nisl odio, quis ullamcorper ipsum tempor quis. Proin vulputate erat vitae justo auctor varius. Nam varius.</p>
	<p class="p--none"><a href="/flats/artefact/" class="link">Go to this item's page</a></p>
</div>