<h2 class="section-header">About this story</h2>
<div class="grid">
	<div class="grid__item"><!-- - - - - - - - - - - - - - - - - - - - - - grid item -->

		<h3 class="sub-header flush--bottom">People</h3>
		<ul class="block-list block-list--sans">
			<li><a href="#" class="block-list__link">Phil Dobbins</a></li>
			<li><a href="#" class="block-list__link">Malcom Welkhammer</a></li>
			<li><a href="#" class="block-list__link">Dering Roj-Furbing</a></li>
			<li><a href="#" class="block-list__link">Tem Fanwobbler</a></li>
			<li><a href="#" class="block-list__link">Jup Trenyump</a></li>
			<li><a href="#" class="block-list__link">Derringer Wops</a></li>
		</ul>

	</div><div class="grid__item"><!-- - - - - - - - - - - - - - - - - - - grid item -->

		<h3 class="sub-header flush--bottom">Places</h3>
		<ul class="block-list block-list--sans">
			<li><a href="#" class="block-list__link">Wollington</a></li>
			<li><a href="#" class="block-list__link">Tadwelder</a></li>
			<li><a href="#" class="block-list__link">Bodless Grumphampton</a></li>
			<li><a href="#" class="block-list__link">Birminghand</a></li>
		</ul>

	</div><div class="grid__item"><!-- - - - - - - - - - - - - - - - - - - grid item -->

		<h3 class="sub-header flush--bottom">Times</h3>
		<ul class="block-list block-list--sans">
			<li><a href="#" class="block-list__link">1980s</a></li>
			<li><a href="#" class="block-list__link">14th January 2102</a></li>
			<li><a href="#" class="block-list__link">Back o' my Dad's car o'clock</a></li>
			<li><a href="#" class="block-list__link">Yesterrrday</a></li>
			<li><a href="#" class="block-list__link">Once upon a dream</a></li>
		</ul>

	</div><div class="grid__item"><!-- - - - - - - - - - - - - - - - - - - grid item -->


		<h3 class="sub-header flush--bottom">Labels</h3>
		<ul class="block-list block-list--sans">
			<li><a href="#" class="block-list__link">Frith</a></li>
			<li><a href="#" class="block-list__link">Trenhans</a></li>
			<li><a href="#" class="block-list__link">Froth</a></li>
			<li><a href="#" class="block-list__link">Melchester</a></li>
		</ul>

	</div><div class="grid__item bigger"><!-- - - - - - - - - - - - - - - - - - - grid item -->

		<h3 class="sub-header flush--bottom">Story links</h3>

		<ul class="block-list block-list--sans">
			<li><a href="#" class="block-list__link">The Pelmet Conspiracy</a></li>
			<li><a href="#" class="block-list__link">Travels with my Aunt's Banana</a></li>
			<li><a href="#" class="block-list__link">The End of the Influenza</a></li>
			<li><a href="#" class="block-list__link">Brighton Dock</a></li>
			<li><a href="#" class="block-list__link">The Honorary Consultant's Fees</a></li>
		</ul>

	</div>
</div>